:root {
    --eva-red: rgb(253, 10, 30);
    --eva-orange: rgb(209, 122, 50);
    --eva-b-orange: rgb(209, 122, 50);
    --eva-bg-red: rgba(80, 7, 6, 1);
    --eva-bg-o-red: rgb(253, 10, 30, 0.4);
  }

.mouse-cursor {
	position:fixed;
	left:0;
	top:0;
	pointer-events:none;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	visibility:hidden
}

.cursor-inner {
	margin-left:-3px;
	margin-top:-3px;
	width:6px;
	height:6px;
	z-index:10000001;
	background:var(--eva-red);
	-webkit-transition:width .3s ease-in-out,height .3s ease-in-out,margin .3s ease-in-out,opacity .3s ease-in-out;
	transition:width .3s ease-in-out,height .3s ease-in-out,margin .3s ease-in-out,opacity .3s ease-in-out
}
.cursor-inner.cursor-hover {
	margin-left:-9px;
    border-radius: 0%;
	margin-top:-15px;
	width: 17.32px;
    height: 30px;
    background-color: var(--eva-red);
	opacity:.5;
}
.cursor-inner.cursor-hover:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    right:17.32px;
    border-width: 15px 8.67px;
    border-style: solid;
    border-color: transparent var(--eva-red) transparent transparent;
}
.cursor-inner.cursor-hover:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left:17.32px;
    border-width: 15px 8.67px;
    border-style: solid;
    border-color: transparent transparent transparent var(--eva-red);
}

@keyframes strech {
    0% {
        width:30px;
        height:20px;
        margin-left:-15px;
	    margin-top:-10px;
    }
    25% {
        width:20px;
        height:20px;
        margin-left:-10px;
	    margin-top:-10px;
    }
    50% {
        width:20px;
        height:30px;  
        margin-left:-10px;
	    margin-top:-15px;
    }
    75% {
        width:20px;
        height:20px;
        margin-left:-10px;
	    margin-top:-10px;
    }
    100% {
        width:30px;
        height:20px;
        margin-left:-15px;
	    margin-top:-10px;
    }
}

.cursor-outer {
	margin-left:-12px;
	margin-top:-12px;
	width:24px;
	height:24px;
	border:2px solid var(--eva-red);
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	z-index:10000000;
	opacity:.5;
	-webkit-transition:all .08s ease-out;
	transition:all .08s ease-out;
    animation: strech 2s infinite;
}
.cursor-outer.cursor-hover {
	opacity:0
}
.main-wrapper[data-magic-cursor=hide] .mouse-cursor {
	display:none;
	opacity:0;
	visibility:hidden;
	position:absolute;
	z-index:-1111
}

@media screen and (max-width:500px) {
	.mouse-cursor {
	display:none;
}
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
  }
