.gallery img {
  width: 50%;
}
#characters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#cast img {
  width: 60%;
}

#cast {
  margin-bottom: 20px;
}

@media (min-width: 700px) {
  #cast img {
    width: 40%;
  }
}
