.gallery img {
  width: 80%;
}

main {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  row-gap: 15px;
  align-items: center;
  justify-items: center;
}

@media only screen and (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 900px) {
  main {
    grid-template-columns: repeat(6, 1fr);
  }
  article {
    grid-column: span 3;
  }
  article:nth-child(-n+5):nth-child(n+3) {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    grid-template-columns: repeat(12, 1fr);
  }
  article:nth-child(-n+2) {
    grid-column: span 6;
  }
  article:nth-child(-n+5):nth-child(n+2) {
    grid-column: span 4;
  }
  article:nth-child(n+5) {
    grid-column: span 3;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}