* {
    font-family: Helvetica;
}

@font-face {
    font-family: matisse-pro-eb;
    src: url("../font/matisse-pro-eb.otf") format("opentype");
}


:root {
    --eva-red: rgb(253, 10, 30);
    --eva-red-stripe: linear-gradient(135deg, var(--eva-red) 25%, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%, var(--eva-red) 0, var(--eva-red) 75%, rgba(0, 0, 0, 0) 0);
}

.gallery-item {
    display: block;
    padding: 9px;
    margin: 10px auto;
    border: rgb(0, 0, 0) solid 2px;
}

.gallery-item:hover {
    border: none;
    padding: 11px 100px;
    background: url(../images/bg.jpg) center;
}

.gallery-item~p {
    display: none;
}

.gallery-item:hover~p {
    display: block;
}


nav {
    font-family: matisse-pro-eb, fot-matisse-pron, sans-serif;
    font-weight: 400;
    font-size: 1.5em;

    text-align: center;
    text-transform: uppercase;
    transform: scaleX(0.9);

    border-width: 0 0 2px;
    border-color: black;
    border-style: solid;
}


nav li {
    display: inline-block;
    padding: 4px 4px;
    margin: 0.6em 0 0.5em;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: black;
}

nav .selected {
    font-weight: 700;
    background: var(--eva-red-stripe);
    background-size: 25.9px 25.9px;
}