.gallery img {
  width: 80%;
}



main {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  row-gap: 15px;
}

@media screen and (min-width: 1200px) {
  main {
    grid-template-columns: repeat(4, minmax(300px, 1fr));
  }
}
  

@media only screen and (min-width: 900px) {
  main {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

@media only screen and (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}